:host {
  display: block;
}

header {
  background-color: var(--color-header);
  padding-top: 0px;
  padding-bottom: 0px;
}

/* contenedor de la imagen*/
.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

img {
  width: 120px;
  height: 100px;
}

/* Enlaces */
a {
  font-family: 'Anton', sans-serif;
  color: var(--white-color);
  font-size: 25px;
}

a:hover {
  color: var(--orange-color);
}

/* Botón */
button, .button {
  font-family: 'Anton', sans-serif;
  font-size: 25px;
}
