<header class="text-gray-400 bg-black body-font">
  <div class="container mx-auto flex flex-wrap p-2 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0" routerLink="/" >
      <img src="/assets/logo2.png" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-20 h-20 text-white  rounded-full" viewBox="0 0 24 24">
      <!--
      <span class="ml-3 text-xl">Sushi CAT</span>-->
    </a>
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-white" routerLink="/home" ng-reflect-router-link="home" href="/home">Inicio</a>
      <a class="mr-5 hover:text-white" routerLink="/catalogo" ng-reflect-router-link="catalogo" href="/catalogo" >Catalogo</a>
      <a class="mr-5 hover:text-white">Contacto</a>
    </nav>


    <button class="inline-flex items-center bg-orange-400 border-0 py-2 px-6 focus:outline-none hover:bg-orange-600 rounded-full text-lg text-black"  routerLink="/pedido" ng-reflect-router-link="pedido" href="/pedido">
      Pedir Ahora
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6 ml-2" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>

  </div>
</header>


    <!--USUARIOS-->
 <!--
    <button class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0" routerLink="/signin" ng-reflect-router-link="signin" href="/signin">Acceder
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
    <button class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0" routerLink="/signup" ng-reflect-router-link="signup" href="/signup">Registrar
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
 -->
